<!--TODO В главном компоненте можно обратиться к переменным(свойствам) через механизм привязки свойст. -->
<!--Если при этом использовать @Input-->
<!--Важно понимать, что здесь идет привязка не к атрибуту, а именно к свойству элемента в javascript, -->
<!--который представляет данный элемент html.-->
<app-input-child [userName]="name" [userAge]="age"></app-input-child>

<!--TODO Двухсторонней привязки данных-->
<!--<input placeholder="New name" type = "text" [(ngModel)]="name" style="display: block">-->
<!--<input placeholder="New age" type = "number" [(ngModel)]="age" style="display: block">-->

<!--TODO Способ изменения данных через в вод в поле-->
<!--<input placeholder="New name" type = "text" (input)="setName($event)" style="display: block">-->

<!--TODO Аналог двухсторонней привязки данных-->
<input placeholder="New name" type = "text" [value]="name" (input)="name = $event.target.value" style="display: block">
<input placeholder="New age" type = "number" [value]="age" (input)="age = $event.target.value" style="display: block">


<!-- TODO С помощью выражения (customEventChange)="updateClick($event)" привязываем метод updateClick к событию customEventChange(), -->
<!--вызываемое в дочернем компоненте. Параметр $event инкапсулирует все данные, которые передаются из дочернего компонента.-->

<!--В итоге при нажатии на кнопки в дочернем компоненте событие нажатия будет транслироваться главному копоненту, -->
<!--который будет в зависимости от переданного значения увеличивать или уменьшать счетчик.-->
<h2>Количество кликов: {{click}}</h2>
<app-output-child (customEventChange)="updateClick($event)"></app-output-child>

<!-- TODO получение данных родительского компонента и изминение их, через аннотацию @ViewChild-->
<!-- С помощью аннотации ViewChild также можно связать свойство и переменную из шаблона-->
<app-vie-child></app-vie-child>
<button (click)="increment()">+</button>
<button (click)="decrement()">-</button>
