<div class="container">

<!-- TODO Связывание html формы, с формой, что была создана-->
  <form class="card" [formGroup]="form" (ngSubmit)="submit()">
    <h1>Angular Forms</h1>

    <div class="form-control">
      <label>Email</label>

<!--  TODO   Через formControlName происходит связывание, контрола с input. -->
<!--  TODO   Значение formControlName должно ровняться ключу в FormGroup, для конкретного контрола-->
      <input type="text" placeholder="Email" formControlName="email">

<!--TODO  Получение доступа к конкретному контролу(control) из шаблона, Через метод get(), у объекта form.
          Так же получения состояния и проверка его состояния.-->
      <div
        *ngIf="form.get('email').invalid && form.get('email').touched"
        class="validation"
      >

<!-- TODO  Объект errors, хранит ошибки по валидаторам для control.-->
        <small *ngIf="form.get('email').errors.required">
          Это поле обязательное для ввода
        </small>

        <small *ngIf="form.get('email').errors.email">
          Введите коректный email
        </small>

        <small *ngIf="form.get('email').errors.restrictedEmail">
          Email {{form.get('email').value}} запрещен
        </small>
      </div>
    </div>

    <div class="form-control">
      <label>Пароль</label>
      <input type="password" placeholder="Пароль" formControlName="password">

<!--TODO      Таким способом можно делать дебаг. Смотреть что находиться в объектах, через пайп json-->
<!--      <pre>{{form.get('password').errors | json}}</pre>-->

      <div
        *ngIf="form.get('password').invalid && form.get('password').touched"
        class="validation"
      >
        <small *ngIf="form.get('password').errors.required">
          Пароль не может быть пустым
         </small>

        <small *ngIf="form.get('password').errors.minlength">
          Длинна должна быть не менее {{form.get('password').errors.minlength.requiredLength}}.
          Сейчас количество символов {{form.get('password').errors.minlength.actualLength}}.
        </small>
      </div>
    </div>

    <div class="card" formGroupName="address">
      <h2>Адрес</h2>

      <div class="form-control">
        <label>Страна</label>

        <select formControlName="country">
          <option value="ru">Россия</option>
          <option value="ua">Украина</option>
          <option value="by">Беларусь</option>
        </select>
      </div>

      <div class="form-control">
        <input type="text" formControlName="city">
      </div>

      <button class="btn" type="button" (click)="setCapital()">Выбрать столицу</button>
    </div>

<!--TODO   Явно указываем корневую группу, чтобы ангуляр понимал, что мы работаем с группой-->
    <div class="card" formGroupName="skills">
      <h2>Ваши навыки</h2>
      <button class="btn" type="button" (click)="addSkill()">Добавить умение</button>

      <div
        class="form-control"
        *ngFor="let control of form.get('skills')['controls']; let ind = index"
      >
        <label>Умение {{ind + 1}}</label>

<!--    TODO    Из-за того, что индекс являеться не строкой, по этому байндим атрибут formControlName-->
        <input type="text" [formControlName]="ind">
      </div>
    </div>

<!-- TODO   Проверяем текущие состояние формы, если оно invalid кнопку нажать нельзя-->
<!-- TODO   Это так же все зависит от валидаторов. Они указывают на состояние валидности для всей формы-->
    <button class="btn" type="submit" [disabled]="form.invalid === true">Отправить</button>
  </form>
</div>
