
<!--TODO В этом примере реализована логика по сортировке списка через pipes-->
<div>
  <h1>Angular Pipes</h1>

<!--TODO Пример того как можна по разному записать значения при клике -->
  <div style="padding-bottom: 10px">
    <button (click)="searchType = typeTitle.textContent.toLowerCase()" #typeTitle>Title</button>
    <button (click)="searchType = 'text'">Text</button>
  </div>

  <div>
    <input type="text" [(ngModel)]="search">
  </div>

  <div
  *ngFor="let post of posts | filter:search:searchType"
  >
    <h2>{{post.title}}</h2>
    <p>{{post.text}}</p>
  </div>
</div>
